* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
:root {
  --dark-green: #06283d;
  --white: #dff6ff;
}
/* Start Body */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-green);
}
/* End Body */
/* Start Container */
.container {
  position: relative;
  width: 400px;
  height: 105px;
  background: #fff;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  font-family: "Roboto", sans-serif;
  transition: 0.6s ease-out;
}
.search_box {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search_box input {
  color: var(--dark-green);
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 32px;
}
.search_box input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: var(--dark-green);
  text-transform: capitalize;
}
.search_box button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: var(--dark-green);
  background: var(--white);
  border-radius: 50%;
  font-size: 22px;
  transition: 0.4s ease;
}
.search_box button:hover {
  color: #fff;
  background: var(--dark-green);
}
.search_box i {
  position: absolute;
  color: var(--dark-green);
  font-size: 28px;
}
.search_box {
  text-align: center;
}
.weather_box {
  text-align: center;
}
.weather_box img {
  width: 60%;
  margin: 30px;
}
.weather_box .temperature {
  position: relative;
  color: var(--dark-green);
  font-size: 4rem;
  font-weight: 800;
  margin-top: 30px;
  margin-left: -16px;
}
.weather_box .temperature span {
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}
.weather_box .description {
  color: var(--dark-green);
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}
.weather_details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.weather_details .humidity,
.weather_details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}
.weather_details .humidity {
  padding-left: 20px;
  justify-content: flex-start;
}
.weather_details .wind {
  padding-right: 20px;
  justify-content: flex-end;
}
.weather_details i {
  color: var(--dark-green);
  font-size: 26px;
  margin-right: 10px;
  margin-top: 6px;
}
.weather_details span {
  color: var(--dark-green);
  font-size: 22px;
  font-weight: 500;
}
.weather_details p {
  color: var(--dark-green);
  font-size: 14px;
  font-weight: 500;
}
.not_found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;
}
.not_found img {
  width: 70%;
}
.not_found p {
  color: var(--dark-green);
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}
.weather_box,
.weather_details {
  scale: 0;
  opacity: 0;
}
.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}
@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
/* End Container */
